# Take Home Exam: Mobility Index Calculation and Profiling

## 1. Create "Mobility Index" and "Mobility Class"

Using the the following features/indicators:<br>
<br>
    1. Total Distance Traveled<br>
    2. Radius of Gyration<br>
    3. Activity Entropy<br>
     
Create a calculated feature called **Mobility Index** (type: decimal/float) and **Mobility Class** (which is are categorized as Low, Mid, and High) for each subscriber.<br>
Team is free to use any methods or technique to arrive at the **OPTIMAL** Mobility Index and Mobility Class as long as it is supported by literature/s.<br>
<br>
**Deadline of the submission is September 1, 2023.** <br>
<br>
<br>
**Criteria for scoring**<br>
1. Creation of mobility class - 50 pts  <br>
2. Creation of mobility index - 30 pts  <br>
3. Efficiency of process      - 20 pts  <br>
    Total                     -100 pts

## 2. Example of Mobility Index

In [1]:
import random
import shapely
import pendulum
import numpy as np
import pandas as pd
from scipy import stats
pd.options.display.max_rows=200
import geopandas as gpd
import matplotlib.pyplot as plt
from IPython.display import HTML, display
from functools import reduce
import pyproj
from functools import partial

#### Sample ABT

In [2]:
file_path_sample_data = "C:/Users/10012425/Desktop/sds4gdsp/scoring_base.csv"
ABT_mobility = pd.read_csv(file_path_sample_data)
ABT_mobility.sample(5)

,Unnamed: 0,sub_uid,gender,age,name,chi_indicator,ewallet_user_indicator,total_travel_distance,radius_of_gyration,activity_entropy
32,32,glo-sub-023,female,62,Brandi Taylor,True,Y,187400.353151,2773.800971,1.393043
22,22,glo-sub-061,male,64,David Evans,False,Y,168249.882120,1710.550891,NaN
17,17,glo-sub-069,male,51,Kevin Gibson,True,N,162675.199376,1274.739666,1.279325
4,4,glo-sub-076,male,46,Colin Mejia,False,N,123646.921636,1671.299423,NaN
98,98,glo-sub-046,male,24,Luis Jackson,True,Y,385134.568227,2206.908060,1.228771

### Apply min max scaling capping

In [3]:
from sklearn.preprocessing import MinMaxScaler

In [4]:
df_capping = pd.DataFrame(ABT_mobility, columns=['total_travel_distance', 'radius_of_gyration','activity_entropy'])

column_headers = df_capping.columns.tolist()

In [5]:
# Create a MinMaxScaler instance
scaler = MinMaxScaler()

# Fit the scaler on the data and transform it
scaled_data = scaler.fit_transform(df_capping)

# Convert scaled data back to a DataFrame
scaled_df = pd.DataFrame(scaled_data, columns=column_headers)
scaled_df

    total_travel_distance  radius_of_gyration  activity_entropy
0                0.000000            0.015741          0.400992
1                0.076253            0.182373          0.504028
2                0.098540            0.175793          0.692796
3                0.100956            0.024102          0.004103
4                0.102464            0.369021               NaN
5                0.126786            0.000000          0.128279
6                0.130826            0.088019          0.368835
7                0.137770            0.024837          0.115453
8                0.139332            0.223741          0.638321
9                0.141096            0.183562          0.408091
10               0.145877            0.018146          0.150974
11               0.164302            0.224896          0.669492
12               0.166832            0.153687          0.657595
13               0.168286            0.053673          0.128041
14               0.173987            0.652952          0.862067
15               0.193627            0.094938          0.560008
16               0.206985            0.459849               NaN
17               0.227320            0.150694          0.693717
18               0.229192            0.116003               NaN
19               0.231166            0.109158          0.392414
20               0.232562            0.132373          0.719609
21               0.238558            0.151386          0.513148
22               0.245155            0.390631               NaN
23               0.249958            0.694434          0.734925
24               0.250839            0.126739          0.564629
25               0.251877            0.456084               NaN
26               0.262651            0.316213          0.641308
27               0.263391            0.734126               NaN
28               0.271244            0.187688          0.644671
29               0.278703            0.209653          0.697244
30               0.290667            0.420993          0.830829
31               0.293685            0.745656          0.881326
32               0.306420            0.976004          0.846744
33               0.324686            0.250294          0.780299
34               0.326003            0.416509               NaN
35               0.334206            0.350879          0.441645
36               0.367764            0.224580               NaN
37               0.373848            0.392623          0.465124
38               0.393327            0.585133          0.818701
39               0.393600            0.584121          0.846100
40               0.400479            0.487088          0.749415
41               0.406267            0.665625          0.747511
42               0.410720            0.932120          0.942203
43               0.422581            0.415363          0.388612
44               0.435018            0.468543          0.284707
45               0.441460            0.262436          0.805165
46               0.443289            0.373030          0.488329
47               0.454203            1.000000          0.921311
48               0.461219            0.954661          0.874746
49               0.471829            0.909112          0.890261
50               0.476076            0.632397          0.780436
51               0.482461            0.619962               NaN
52               0.486138            0.300776          0.892967
53               0.493235            0.687713          0.836162
54               0.495475            0.502072          0.647253
55               0.503071            0.688536          0.787323
56               0.505641            0.852631          0.950744
57               0.508837            0.899560               NaN
58               0.518911            0.629803          0.561174
59               0.525449            0.415542          0.000000
60               0.533844            0.760338          0.998669
61               0.539236            0.924828               NaN
62               0.539789            0.722342          0.693652
63               0.547888            0.399018          0.389120
64               0.550858            0.530149               NaN
65               0.560427            0.580756          0.726224
66               0.573460            0.867476          1.000000
67               0.575976            0.656549          0.806102
68               0.576479            0.774121          0.934544
69               0.582866            0.577673          0.694904
70               0.584790            0.491039          0.128070
71               0.584950            0.745514          0.886276
72               0.586260            0.717353               NaN
73               0.614757            0.673194          0.603687
74               0.648191            0.782951          0.667259
75               0.650132            0.620419          0.868859
76               0.653933            0.793290          0.665075
77               0.661956            0.544567          0.687681
78               0.662519            0.740416               NaN
79               0.669378            0.556351          0.691892
80               0.682696            0.432683          0.498591
81               0.683442            0.562822               NaN
82               0.697061            0.898199          0.628065
83               0.701713            0.635278          0.682781
84               0.707848            0.628726               NaN
85               0.708291            0.525185          0.548055
86               0.753964            0.880014               NaN
87               0.754376            0.648879          0.705661
88               0.771381            0.683648          0.770484
89               0.780210            0.690189          0.909890
90               0.787743            0.745578               NaN
91               0.797744            0.564313          0.521526
92               0.815482            0.844322          0.917914
93               0.821048            0.578163          0.781067
94               0.832475            0.756700               NaN
95               0.864773            0.597244          0.474646
96               0.867214            0.577540          0.861811
97               0.920367            0.667763          0.592899
98               0.938998            0.663901          0.625688
99               1.000000            0.568807          0.497987

In [7]:
scaled_df = scaled_df.fillna(0)

scaled_df["mobility_index"] = (scaled_df["total_travel_distance"] + scaled_df["radius_of_gyration"] + scaled_df["activity_entropy"]) /3

In [8]:
scaled_df.sample(5)

,total_travel_distance,radius_of_gyration,activity_entropy,mobility_index
93,0.821048,0.578163,0.781067,0.726759
2,0.098540,0.175793,0.692796,0.322376
88,0.771381,0.683648,0.770484,0.741838
27,0.263391,0.734126,0.000000,0.332506
10,0.145877,0.018146,0.150974,0.104999

In [9]:
low_threshold = 0.3
high_threshold = 0.7

# Create a function to categorize values
def categorize(value):
    if value < low_threshold:
        return 'Low'
    elif value < high_threshold:
        return 'Mid'
    elif value > high_threshold:
        return 'High'
    else:
        return 'Low'

# Apply the categorize function to the 'Value' column
scaled_df['Category'] = scaled_df['mobility_index'].apply(categorize)

scaled_df.sample(5)

,total_travel_distance,radius_of_gyration,activity_entropy,mobility_index,Category
46,0.443289,0.373030,0.488329,0.434882,Mid
37,0.373848,0.392623,0.465124,0.410532,Mid
62,0.539789,0.722342,0.693652,0.651928,Mid
40,0.400479,0.487088,0.749415,0.545661,Mid
15,0.193627,0.094938,0.560008,0.282858,Low

In [11]:
mobility_class = pd.DataFrame(scaled_df)
scaled_df.groupby('Category').size()

Category
High    21
Low     18
Mid     61
dtype: int64