In [1]:
import os
os.chdir("C:/Users/10012425/Desktop/sds4gdsp/")

In [2]:
import random
import shapely
import pendulum
import numpy as np
import pandas as pd
pd.options.display.max_rows=200
from sds4gdsp.processor import convert_cel_to_point, calc_haversine_distance
from sds4gdsp.plotter import get_route_fig, load_images, plot_images
from IPython.display import HTML, display
from functools import reduce

In [3]:
filepath_subscribers = "data/fake_subscribers.csv"
dtype = dict(
    gender="category",
    age=int,
    name=str,
    chi_indicator=bool,
    ewallet_user_indicator="category"
)
fake_subscribers = pd.read_csv(filepath_subscribers, dtype=dtype)
fake_subscribers.sample(5)

,sub_uid,gender,age,name,chi_indicator,ewallet_user_indicator
45,glo-sub-046,male,24,Luis Jackson,True,Y
59,glo-sub-060,male,42,Philip Lewis,True,N
68,glo-sub-069,male,51,Kevin Gibson,True,N
80,glo-sub-081,female,48,Jessica Wood,True,Y
99,glo-sub-100,female,40,Kiara Salazar,True,N

In [4]:
fake_subscribers.shape

(100, 6)

In [5]:
cat_cols = ["gender", "chi_indicator", "ewallet_user_indicator"]
fs_breakdown = fake_subscribers.groupby(cat_cols).size().reset_index(name="cnt")
fs_breakdown.assign(pcnt=fs_breakdown.cnt.div(len(fake_subscribers)).mul(100).round(2))

   gender  chi_indicator ewallet_user_indicator  cnt  pcnt
0  female          False                      N   14  14.0
1  female          False                      Y   12  12.0
2  female           True                      N   10  10.0
3  female           True                      Y   14  14.0
4    male          False                      N   12  12.0
5    male          False                      Y   17  17.0
6    male           True                      N   14  14.0
7    male           True                      Y    7   7.0

In [6]:
filepath_cellsites = "data/fake_cellsites.csv"
fake_cellsites = pd.read_csv(filepath_cellsites)
fake_cellsites.sample(5)

         cel_uid                          coords
74   glo-cel-075  POINT (121.0683106 14.5054757)
108  glo-cel-109  POINT (121.0940274 14.5297068)
89   glo-cel-090  POINT (121.0770828 14.5317044)
84   glo-cel-085  POINT (121.0743555 14.5324571)
69   glo-cel-070  POINT (121.0648755 14.5124658)

In [7]:
fake_cellsites.shape

(111, 2)

In [8]:
HTML('<img src="../docs/fake_cellsites.png" width="600" height="600"/>')

In [9]:
filepath_transactions = "data/fake_transactions.csv"
fake_transactions = pd.read_csv(filepath_transactions)

In [10]:
fake_transactions.shape

(15090, 5)

In [11]:
min_date = pendulum.parse(fake_transactions.transaction_dt.min(), exact=True)
max_date = pendulum.parse(fake_transactions.transaction_dt.max(), exact=True)
period = pendulum.period(min_date, max_date)

In [12]:
sample_dt = str(random.sample(list(period), 1)[0])
filter_dt = fake_transactions.transaction_dt == sample_dt
sample_sub = fake_subscribers.sub_uid.sample(1).item()
filter_sub = fake_transactions.sub_uid == sample_sub
fake_transactions.loc[filter_sub&filter_dt]

            txn_uid      sub_uid      cel_uid transaction_dt  transaction_hr
4868  glo-txn-04869  glo-sub-032  glo-cel-036     2023-06-23               4
4869  glo-txn-04870  glo-sub-032  glo-cel-040     2023-06-23               5
4870  glo-txn-04871  glo-sub-032  glo-cel-036     2023-06-23              13
4871  glo-txn-04872  glo-sub-032  glo-cel-040     2023-06-23              14
4872  glo-txn-04873  glo-sub-032  glo-cel-036     2023-06-23              16
4873  glo-txn-04874  glo-sub-032  glo-cel-027     2023-06-23              22

In [13]:
def get_sub_traj(
    sub: str,
    date: str,
    window: str,
    transactions: pd.DataFrame,
    cellsites: pd.DataFrame
):
    if window=="month":
        date_filter = transactions.transaction_dt.apply(lambda d: pendulum.parse(d, exact=True).start_of("month").to_date_string())==date
    elif window=="day":
        date_filter = transactions.transaction_dt==date
    sub_filter = transactions.sub_uid==sub
    transactions_red = transactions.loc[sub_filter&date_filter]
    transactions_red = transactions_red.merge(cellsites, on="cel_uid")
    return transactions_red.sort_values(by=["transaction_dt", "transaction_hr"], ascending=[1, 1])

In [14]:
get_sub_traj("glo-sub-001", "2023-06-01", "month", fake_transactions, fake_cellsites)

,txn_uid,sub_uid,cel_uid,transaction_dt,transaction_hr,coords
0,glo-txn-00001,glo-sub-001,glo-cel-082,2023-06-01,3,POINT (121.0732848 14.5244576)
5,glo-txn-00002,glo-sub-001,glo-cel-086,2023-06-01,15,POINT (121.0750697 14.521689)
11,glo-txn-00003,glo-sub-001,glo-cel-084,2023-06-01,20,POINT (121.0735688 14.5181671)
6,glo-txn-00004,glo-sub-001,glo-cel-086,2023-06-01,21,POINT (121.0750697 14.521689)
12,glo-txn-00005,glo-sub-001,glo-cel-084,2023-06-01,23,POINT (121.0735688 14.5181671)
13,glo-txn-00006,glo-sub-001,glo-cel-084,2023-06-02,3,POINT (121.0735688 14.5181671)
17,glo-txn-00007,glo-sub-001,glo-cel-089,2023-06-02,4,POINT (121.0765315 14.5160907)
20,glo-txn-00008,glo-sub-001,glo-cel-083,2023-06-02,8,POINT (121.0733576 14.5140961)
23,glo-txn-00009,glo-sub-001,glo-cel-077,2023-06-02,11,POINT (121.0693679 14.5119416)
21,glo-txn-00010,glo-sub-001,glo-cel-083,2023-06-02,12,POINT (121.0733576 14.5140961)
18,glo-txn-00011,glo-sub-001,glo-cel-089,2023-06-02,16,POINT (121.0765315 14.5160907)
22,glo-txn-00012,glo-sub-001,glo-cel-083,2023-06-02,17,POINT (121.0733576 14.5140961)
19,glo-txn-00013,glo-sub-001,glo-cel-089,2023-06-02,18,POINT (121.0765315 14.5160907)
24,glo-txn-00014,glo-sub-001,glo-cel-091,2023-06-02,22,POINT (121.0778367 14.5185647)
25,glo-txn-00015,glo-sub-001,glo-cel-091,2023-06-03,3,POINT (121.0778367 14.5185647)
14,glo-txn-00016,glo-sub-001,glo-cel-084,2023-06-03,7,POINT (121.0735688 14.5181671)
7,glo-txn-00017,glo-sub-001,glo-cel-086,2023-06-03,10,POINT (121.0750697 14.521689)
15,glo-txn-00018,glo-sub-001,glo-cel-084,2023-06-03,18,POINT (121.0735688 14.5181671)
16,glo-txn-00019,glo-sub-001,glo-cel-084,2023-06-04,3,POINT (121.0735688 14.5181671)
8,glo-txn-00020,glo-sub-001,glo-cel-086,2023-06-04,6,POINT (121.0750697 14.521689)
26,glo-txn-00021,glo-sub-001,glo-cel-091,2023-06-04,12,POINT (121.0778367 14.5185647)
9,glo-txn-00022,glo-sub-001,glo-cel-086,2023-06-04,16,POINT (121.0750697 14.521689)
10,glo-txn-00023,glo-sub-001,glo-cel-086,2023-06-05,3,POINT (121.0750697 14.521689)
1,glo-txn-00024,glo-sub-001,glo-cel-082,2023-06-05,8,POINT (121.0732848 14.5244576)
27,glo-txn-00025,glo-sub-001,glo-cel-088,2023-06-05,16,POINT (121.0753033 14.52743)
2,glo-txn-00026,glo-sub-001,glo-cel-082,2023-06-05,17,POINT (121.0732848 14.5244576)
3,glo-txn-00027,glo-sub-001,glo-cel-082,2023-06-06,3,POINT (121.0732848 14.5244576)
28,glo-txn-00028,glo-sub-001,glo-cel-088,2023-06-06,7,POINT (121.0753033 14.52743)
32,glo-txn-00029,glo-sub-001,glo-cel-090,2023-06-06,16,POINT (121.0770828 14.5317044)
38,glo-txn-00030,glo-sub-001,glo-cel-101,2023-06-06,21,POINT (121.0824987 14.5309274)
44,glo-txn-00031,glo-sub-001,glo-cel-100,2023-06-06,23,POINT (121.0821408 14.5359371)
45,glo-txn-00032,glo-sub-001,glo-cel-100,2023-06-07,3,POINT (121.0821408 14.5359371)
51,glo-txn-00033,glo-sub-001,glo-cel-103,2023-06-07,9,POINT (121.0843146 14.5417498)
65,glo-txn-00034,glo-sub-001,glo-cel-106,2023-06-07,13,POINT (121.0885482 14.5413748)
52,glo-txn-00035,glo-sub-001,glo-cel-103,2023-06-07,22,POINT (121.0843146 14.5417498)
74,glo-txn-00036,glo-sub-001,glo-cel-092,2023-06-07,23,POINT (121.0784464 14.5397507)
75,glo-txn-00037,glo-sub-001,glo-cel-092,2023-06-08,3,POINT (121.0784464 14.5397507)
46,glo-txn-00038,glo-sub-001,glo-cel-100,2023-06-08,4,POINT (121.0821408 14.5359371)
39,glo-txn-00039,glo-sub-001,glo-cel-101,2023-06-08,12,POINT (121.0824987 14.5309274)
33,glo-txn-00040,glo-sub-001,glo-cel-090,2023-06-08,13,POINT (121.0770828 14.5317044)
34,glo-txn-00041,glo-sub-001,glo-cel-090,2023-06-09,3,POINT (121.0770828 14.5317044)
40,glo-txn-00042,glo-sub-001,glo-cel-101,2023-06-09,7,POINT (121.0824987 14.5309274)
35,glo-txn-00043,glo-sub-001,glo-cel-090,2023-06-09,15,POINT (121.0770828 14.5317044)
29,glo-txn-00044,glo-sub-001,glo-cel-088,2023-06-09,17,POINT (121.0753033 14.52743)
30,glo-txn-00045,glo-sub-001,glo-cel-088,2023-06-10,3,POINT (121.0753033 14.52743)
36,glo-txn-00046,glo-sub-001,glo-cel-090,2023-06-10,11,POINT (121.0770828 14.5317044)
83,glo-txn-00047,glo-sub-001,glo-cel-085,2023-06-10,19,POINT (121.0743555 14.5324571)
84,glo-txn-00048,glo-sub-001,glo-cel-085,2023-06-11,3,POINT (121.0743555 14.5324571)
86,glo-txn-00049,glo-sub-001,glo-cel-080,2023-06-11,4,POINT (121.0709136 14.5320765)
85,glo-txn-00050,glo-sub-001,glo-cel-085,2023-06-11,12,POINT (121.0743555 14.5324571)
87,glo-txn-00051,glo-sub-001,glo-cel-080,2023-06-11,13,POINT (121.0709136 14.5320765)
91,glo-txn-00052,glo-sub-001,glo-cel-074,2023-06-11,21,POINT (121.0673779 14.5360046)
92,glo-txn-00053,glo-sub-001,glo-cel-074,2023-06-12,3,POINT (121.0673779 14.5360046)
97,glo-txn-00054,glo-sub-001,glo-cel-073,2023-06-12,23,POINT (121.067227 14.5314205)
98,glo-txn-00055,glo-sub-001,glo-cel-073,2023-06-13,3,POINT (121.067227 14.5314205)
93,glo-txn-00056,glo-sub-001,glo-cel-074,2023-06-13,9,POINT (121.0673779 14.5360046)
105,glo-txn-00057,glo-sub-001,glo-cel-069,2023-06-13,10,POINT (121.0641371 14.5345597)
94,glo-txn-00058,glo-sub-001,glo-cel-074,2023-06-13,11,POINT (121.0673779 14.5360046)
99,glo-txn-00059,glo-sub-001,glo-cel-073,2023-06-13,15,POINT (121.067227 14.5314205)
106,glo-txn-00060,glo-sub-001,glo-cel-069,2023-06-13,19,POINT (121.0641371 14.5345597)
107,glo-txn-00061,glo-sub-001,glo-cel-069,2023-06-14,3,POINT (121.0641371 14.5345597)
100,glo-txn-00062,glo-sub-001,glo-cel-073,2023-06-14,4,POINT (121.067227 14.5314205)
108,glo-txn-00063,glo-sub-001,glo-cel-069,2023-06-14,14,POINT (121.0641371 14.5345597)
101,glo-txn-00064,glo-sub-001,glo-cel-073,2023-06-14,19,POINT (121.067227 14.5314205)
102,glo-txn-00065,glo-sub-001,glo-cel-073,2023-06-15,3,POINT (121.067227 14.5314205)
95,glo-txn-00066,glo-sub-001,glo-cel-074,2023-06-15,9,POINT (121.0673779 14.5360046)
103,glo-txn-00067,glo-sub-001,glo-cel-073,2023-06-15,13,POINT (121.067227 14.5314205)
88,glo-txn-00068,glo-sub-001,glo-cel-080,2023-06-15,22,POINT (121.0709136 14.5320765)
89,glo-txn-00069,glo-sub-001,glo-cel-080,2023-06-16,3,POINT (121.0709136 14.5320765)
96,glo-txn-00070,glo-sub-001,glo-cel-074,2023-06-16,9,POINT (121.0673779 14.5360046)
109,glo-txn-00071,glo-sub-001,glo-cel-081,2023-06-16,12,POINT (121.0712832 14.5392728)
110,glo-txn-00072,glo-sub-001,glo-cel-087,2023-06-16,13,POINT (121.0751054 14.5445315)
117,glo-txn-00073,glo-sub-001,glo-cel-095,2023-06-16,18,POINT (121.0802442 14.5467116)
127,glo-txn-00074,glo-sub-001,glo-cel-093,2023-06-16,21,POINT (121.0789244 14.5493345)
118,glo-txn-00075,glo-sub-001,glo-cel-095,2023-06-16,22,POINT (121.0802442 14.5467116)
119,glo-txn-00076,glo-sub-001,glo-cel-095,2023-06-17,3,POINT (121.0802442 14.5467116)
111,glo-txn-00077,glo-sub-001,glo-cel-087,2023-06-17,6,POINT (121.0751054 14.5445315)
129,glo-txn-00078,glo-sub-001,glo-cel-096,2023-06-17,10,POINT (121.0804294 14.5420173)
76,glo-txn-00079,glo-sub-001,glo-cel-092,2023-06-17,14,POINT (121.0784464 14.5397507)
130,glo-txn-00080,glo-sub-001,glo-cel-096,2023-06-17,18,POINT (121.0804294 14.5420173)
53,glo-txn-00081,glo-sub-001,glo-cel-103,2023-06-17,22,POINT (121.0843146 14.5417498)
54,glo-txn-00082,glo-sub-001,glo-cel-103,2023-06-18,3,POINT (121.0843146 14.5417498)
131,glo-txn-00083,glo-sub-001,glo-cel-096,2023-06-18,4,POINT (121.0804294 14.5420173)
77,glo-txn-00084,glo-sub-001,glo-cel-092,2023-06-18,7,POINT (121.0784464 14.5397507)
132,glo-txn-00085,glo-sub-001,glo-cel-096,2023-06-18,20,POINT (121.0804294 14.5420173)
120,glo-txn-00086,glo-sub-001,glo-cel-095,2023-06-18,23,POINT (121.0802442 14.5467116)
121,glo-txn-00087,glo-sub-001,glo-cel-095,2023-06-19,3,POINT (121.0802442 14.5467116)
133,glo-txn-00088,glo-sub-001,glo-cel-096,2023-06-19,12,POINT (121.0804294 14.5420173)
122,glo-txn-00089,glo-sub-001,glo-cel-095,2023-06-19,13,POINT (121.0802442 14.5467116)
123,glo-txn-00090,glo-sub-001,glo-cel-095,2023-06-20,3,POINT (121.0802442 14.5467116)
128,glo-txn-00091,glo-sub-001,glo-cel-093,2023-06-20,10,POINT (121.0789244 14.5493345)
112,glo-txn-00092,glo-sub-001,glo-cel-087,2023-06-20,12,POINT (121.0751054 14.5445315)
78,glo-txn-00093,glo-sub-001,glo-cel-092,2023-06-20,13,POINT (121.0784464 14.5397507)
47,glo-txn-00094,glo-sub-001,glo-cel-100,2023-06-20,14,POINT (121.0821408 14.5359371)
55,glo-txn-00095,glo-sub-001,glo-cel-103,2023-06-20,20,POINT (121.0843146 14.5417498)
134,glo-txn-00096,glo-sub-001,glo-cel-096,2023-06-20,23,POINT (121.0804294 14.5420173)
135,glo-txn-00097,glo-sub-001,glo-cel-096,2023-06-21,3,POINT (121.0804294 14.5420173)
56,glo-txn-00098,glo-sub-001,glo-cel-103,2023-06-21,5,POINT (121.0843146 14.5417498)
66,glo-txn-00099,glo-sub-001,glo-cel-106,2023-06-21,6,POINT (121.0885482 14.5413748)
139,glo-txn-00100,glo-sub-001,glo-cel-107,2023-06-21,7,POINT (121.0897214 14.5382141)
67,glo-txn-00101,glo-sub-001,glo-cel-106,2023-06-21,11,POINT (121.0885482 14.5413748)
57,glo-txn-00102,glo-sub-001,glo-cel-103,2023-06-21,13,POINT (121.0843146 14.5417498)
58,glo-txn-00103,glo-sub-001,glo-cel-103,2023-06-22,3,POINT (121.0843146 14.5417498)
136,glo-txn-00104,glo-sub-001,glo-cel-096,2023-06-22,5,POINT (121.0804294 14.5420173)
59,glo-txn-00105,glo-sub-001,glo-cel-103,2023-06-22,13,POINT (121.0843146 14.5417498)
68,glo-txn-00106,glo-sub-001,glo-cel-106,2023-06-22,15,POINT (121.0885482 14.5413748)
140,glo-txn-00107,glo-sub-001,glo-cel-107,2023-06-22,21,POINT (121.0897214 14.5382141)
141,glo-txn-00108,glo-sub-001,glo-cel-107,2023-06-23,3,POINT (121.0897214 14.5382141)
60,glo-txn-00109,glo-sub-001,glo-cel-103,2023-06-23,7,POINT (121.0843146 14.5417498)
69,glo-txn-00110,glo-sub-001,glo-cel-106,2023-06-23,13,POINT (121.0885482 14.5413748)
61,glo-txn-00111,glo-sub-001,glo-cel-103,2023-06-23,20,POINT (121.0843146 14.5417498)
70,glo-txn-00112,glo-sub-001,glo-cel-106,2023-06-23,22,POINT (121.0885482 14.5413748)
71,glo-txn-00113,glo-sub-001,glo-cel-106,2023-06-24,3,POINT (121.0885482 14.5413748)
142,glo-txn-00114,glo-sub-001,glo-cel-107,2023-06-24,4,POINT (121.0897214 14.5382141)
72,glo-txn-00115,glo-sub-001,glo-cel-106,2023-06-24,9,POINT (121.0885482 14.5413748)
73,glo-txn-00116,glo-sub-001,glo-cel-106,2023-06-25,3,POINT (121.0885482 14.5413748)
143,glo-txn-00117,glo-sub-001,glo-cel-107,2023-06-25,5,POINT (121.0897214 14.5382141)
62,glo-txn-00118,glo-sub-001,glo-cel-103,2023-06-25,7,POINT (121.0843146 14.5417498)
137,glo-txn-00119,glo-sub-001,glo-cel-096,2023-06-25,9,POINT (121.0804294 14.5420173)
63,glo-txn-00120,glo-sub-001,glo-cel-103,2023-06-25,19,POINT (121.0843146 14.5417498)
64,glo-txn-00121,glo-sub-001,glo-cel-103,2023-06-26,3,POINT (121.0843146 14.5417498)
138,glo-txn-00122,glo-sub-001,glo-cel-096,2023-06-26,5,POINT (121.0804294 14.5420173)
79,glo-txn-00123,glo-sub-001,glo-cel-092,2023-06-26,7,POINT (121.0784464 14.5397507)
113,glo-txn-00124,glo-sub-001,glo-cel-087,2023-06-26,8,POINT (121.0751054 14.5445315)
80,glo-txn-00125,glo-sub-001,glo-cel-092,2023-06-26,21,POINT (121.0784464 14.5397507)
81,glo-txn-00126,glo-sub-001,glo-cel-092,2023-06-27,3,POINT (121.0784464 14.5397507)
114,glo-txn-00127,glo-sub-001,glo-cel-087,2023-06-27,7,POINT (121.0751054 14.5445315)
124,glo-txn-00128,glo-sub-001,glo-cel-095,2023-06-27,11,POINT (121.0802442 14.5467116)
125,glo-txn-00129,glo-sub-001,glo-cel-095,2023-06-28,3,POINT (121.0802442 14.5467116)
115,glo-txn-00130,glo-sub-001,glo-cel-087,2023-06-28,4,POINT (121.0751054 14.5445315)
126,glo-txn-00131,glo-sub-001,glo-cel-095,2023-06-28,7,POINT (121.0802442 14.5467116)
116,glo-txn-00132,glo-sub-001,glo-cel-087,2023-06-28,11,POINT (121.0751054 14.5445315)
82,glo-txn-00133,glo-sub-001,glo-cel-092,2023-06-28,21,POINT (121.0784464 14.5397507)
48,glo-txn-00134,glo-sub-001,glo-cel-100,2023-06-28,22,POINT (121.0821408 14.5359371)
49,glo-txn-00135,glo-sub-001,glo-cel-100,2023-06-29,3,POINT (121.0821408 14.5359371)
41,glo-txn-00136,glo-sub-001,glo-cel-101,2023-06-29,4,POINT (121.0824987 14.5309274)
50,glo-txn-00137,glo-sub-001,glo-cel-100,2023-06-29,11,POINT (121.0821408 14.5359371)
42,glo-txn-00138,glo-sub-001,glo-cel-101,2023-06-29,17,POINT (121.0824987 14.5309274)
43,glo-txn-00139,glo-sub-001,glo-cel-101,2023-06-30,3,POINT (121.0824987 14.5309274)
37,glo-txn-00140,glo-sub-001,glo-cel-090,2023-06-30,4,POINT (121.0770828 14.5317044)
31,glo-txn-00141,glo-sub-001,glo-cel-088,2023-06-30,6,POINT (121.0753033 14.52743)
4,glo-txn-00142,glo-sub-001,glo-cel-082,2023-06-30,7,POINT (121.0732848 14.5244576)
144,glo-txn-00143,glo-sub-001,glo-cel-076,2023-06-30,10,POINT (121.0690023 14.5264475)
90,glo-txn-00144,glo-sub-001,glo-cel-080,2023-06-30,19,POINT (121.0709136 14.5320765)
104,glo-txn-00145,glo-sub-001,glo-cel-073,2023-06-30,20,POINT (121.067227 14.5314205)

In [15]:
scoring_base = fake_subscribers.copy()

In [16]:
# for uniformity
date = "2023-06-01"
window = "month"

In [17]:
sub = fake_subscribers.sample(1).sub_uid.item()
traj = get_sub_traj(sub, date, window, fake_transactions, fake_cellsites)
traj.head()

,txn_uid,sub_uid,cel_uid,transaction_dt,transaction_hr,coords
0,glo-txn-10400,glo-sub-070,glo-cel-028,2023-06-01,0,POINT (121.0485358 14.494388)
6,glo-txn-10401,glo-sub-070,glo-cel-026,2023-06-01,5,POINT (121.0480144 14.4988026)
15,glo-txn-10402,glo-sub-070,glo-cel-031,2023-06-01,7,POINT (121.0496008 14.5017326)
7,glo-txn-10403,glo-sub-070,glo-cel-026,2023-06-01,9,POINT (121.0480144 14.4988026)
1,glo-txn-10404,glo-sub-070,glo-cel-028,2023-06-01,12,POINT (121.0485358 14.494388)

In [18]:
coords = traj.coords.tolist()
od_pairs = list(zip(coords, coords[1:])) # think lag-1 in SQL

In [19]:
od_pairs[:4] # check with the traj table above

[('POINT (121.0485358 14.494388)', 'POINT (121.0480144 14.4988026)'),
 ('POINT (121.0480144 14.4988026)', 'POINT (121.0496008 14.5017326)'),
 ('POINT (121.0496008 14.5017326)', 'POINT (121.0480144 14.4988026)'),
 ('POINT (121.0480144 14.4988026)', 'POINT (121.0485358 14.494388)')]

In [20]:
total_travel_distance = reduce(
    lambda a, b: a + b,
    list(map(lambda p: calc_haversine_distance(*p), od_pairs))
)

In [21]:
# convert to kilometer
total_travel_distance / 1_000

56.54259860729366

In [22]:
def calc_total_travel_distance(traj):
    coords = traj.coords.tolist()
    od_pairs = list(zip(coords, coords[1:]))
    total_travel_distance = reduce(
        lambda a, b: a + b,
        list(map(lambda p: calc_haversine_distance(*p), od_pairs))
    )
    return total_travel_distance

In [23]:
total_travel_distances = []
for sub in scoring_base.sub_uid.tolist():
    traj = get_sub_traj(sub, date, window, fake_transactions, fake_cellsites)
    total_travel_distance = calc_total_travel_distance(traj)
    total_travel_distances.append(total_travel_distance)

scoring_base["total_travel_distance"] = total_travel_distances

In [24]:
scoring_base.sample(5)

,sub_uid,gender,age,name,chi_indicator,ewallet_user_indicator,total_travel_distance
53,glo-sub-054,male,25,Kelly Medina,True,Y,49803.383541
19,glo-sub-020,female,29,Angela Johnson,False,N,50951.423568
83,glo-sub-084,male,20,Charles Morgan,False,N,50126.644557
95,glo-sub-096,male,39,Brandon Charles,False,N,44938.120470
47,glo-sub-048,female,51,Gabrielle Vaughn,False,Y,46647.052089

In [25]:
sub = fake_subscribers.sample(1).sub_uid.item()
traj = get_sub_traj(sub, date, window, fake_transactions, fake_cellsites)
traj.head()

,txn_uid,sub_uid,cel_uid,transaction_dt,transaction_hr,coords
0,glo-txn-00628,glo-sub-005,glo-cel-028,2023-06-01,0,POINT (121.0485358 14.494388)
6,glo-txn-00629,glo-sub-005,glo-cel-026,2023-06-01,2,POINT (121.0480144 14.4988026)
12,glo-txn-00630,glo-sub-005,glo-cel-033,2023-06-01,3,POINT (121.050346 14.4970216)
1,glo-txn-00631,glo-sub-005,glo-cel-028,2023-06-01,5,POINT (121.0485358 14.494388)
18,glo-txn-00632,glo-sub-005,glo-cel-015,2023-06-01,6,POINT (121.0424143 14.4939573)

In [26]:
coords = traj.coords.tolist()

In [27]:
mean_lat = np.mean([shapely.wkt.loads(coord).y for coord in coords])
mean_lng = np.mean([shapely.wkt.loads(coord).x for coord in coords])
com = shapely.geometry.Point(mean_lng, mean_lat).wkt

In [28]:
print(mean_lat, mean_lng, com)

14.512318452298851 121.05148582988507 POINT (121.05148582988507 14.512318452298851)

In [29]:
# compute for the distances from center of mass to each of the individual points
pt_pairs = list(zip(coords, [com]*len(coords))) # points-to-centerofmass
radius_of_gyration = np.sqrt(
    reduce(
        lambda a, b: a + b,
        list(map(lambda p: calc_haversine_distance(*p)**2, pt_pairs))
    ) / len(coords)
)

In [30]:
radius_of_gyration

1123.9534687501643

In [31]:
def calc_radius_of_gyration(traj):
    
    coords = traj.coords.tolist()
    
    # compute for the center of mass
    mean_lat = np.mean([shapely.wkt.loads(coord).y for coord in coords])
    mean_lng = np.mean([shapely.wkt.loads(coord).x for coord in coords])
    com = shapely.geometry.Point(mean_lng, mean_lat).wkt
    
    # compute for the distances from CoM to individual points
    pt_pairs = list(zip(coords, [com]*len(coords)))
    radius_of_gyration = np.sqrt(
        reduce(
            lambda a, b: a + b,
            list(map(lambda p: calc_haversine_distance(*p)**2, pt_pairs))
        ) / len(coords)
    )
    return radius_of_gyration

In [32]:
radius_of_gyrations = []
for sub in scoring_base.sub_uid.tolist():
    traj = get_sub_traj(sub, date, window, fake_transactions, fake_cellsites)
    radius_of_gyration = calc_radius_of_gyration(traj)
    radius_of_gyrations.append(radius_of_gyration)

scoring_base["radius_of_gyration"] = radius_of_gyrations

In [33]:
scoring_base.sample(5)

,sub_uid,gender,age,name,chi_indicator,ewallet_user_indicator,total_travel_distance,radius_of_gyration
91,glo-sub-092,female,21,Valerie Short,True,Y,66049.575613,1047.713163
55,glo-sub-056,male,25,Terry Gould,True,N,47942.556544,888.407175
2,glo-sub-003,male,59,Steven King,True,N,58861.062719,1723.534816
29,glo-sub-030,male,36,Gerald Harrison,False,N,57071.368021,1361.443078
36,glo-sub-037,male,60,Jeffrey Church,False,N,65522.669219,1302.643219

In [34]:
sub = fake_subscribers.sample(1).sub_uid.item()
traj = get_sub_traj(sub, date, window, fake_transactions, fake_cellsites)
traj.head()

,txn_uid,sub_uid,cel_uid,transaction_dt,transaction_hr,coords
0,glo-txn-06898,glo-sub-046,glo-cel-025,2023-06-01,5,POINT (121.0476753 14.4772396)
3,glo-txn-06899,glo-sub-046,glo-cel-029,2023-06-01,6,POINT (121.0485949 14.4716356)
8,glo-txn-06900,glo-sub-046,glo-cel-024,2023-06-01,7,POINT (121.0476021 14.4654285)
11,glo-txn-06901,glo-sub-046,glo-cel-042,2023-06-01,10,POINT (121.0548302 14.4679851)
13,glo-txn-06902,glo-sub-046,glo-cel-047,2023-06-01,13,POINT (121.0561115 14.4711265)

In [35]:
loc_hrs = traj[["cel_uid", "transaction_hr"]].values.tolist()
od_loc_hrs = list(zip(loc_hrs, loc_hrs[1:]))

In [36]:
cels = list(set(traj.cel_uid.tolist()))

In [37]:
loc_hr_counter = dict(zip(cels, [0]*len(cels))) # THIS IS THE HASHMAP
for od_loc_hr in od_loc_hrs:
    orig = od_loc_hr[0]
    dest = od_loc_hr[1]
    cel = orig[0]
    if dest[1] > orig[1]:
        time_elapsed = dest[1] - orig[1]
    elif dest[1] < orig[1]:
        # next time elapsed jumps to another day
        time_elapsed = 24 - abs(dest[1] - orig[1])
    loc_hr_counter[cel] = loc_hr_counter[cel] + time_elapsed #  # I UPDATED THE HASHMAP

In [38]:
loc_hr_counter

{'glo-cel-040': 46,
 'glo-cel-050': 7,
 'glo-cel-035': 4,
 'glo-cel-054': 85,
 'glo-cel-057': 13,
 'glo-cel-029': 20,
 'glo-cel-061': 4,
 'glo-cel-056': 15,
 'glo-cel-047': 1,
 'glo-cel-052': 9,
 'glo-cel-062': 1,
 'glo-cel-043': 11,
 'glo-cel-051': 19,
 'glo-cel-038': 11,
 'glo-cel-036': 41,
 'glo-cel-042': 5,
 'glo-cel-044': 7,
 'glo-cel-041': 1,
 'glo-cel-024': 5,
 'glo-cel-063': 26,
 'glo-cel-046': 23,
 'glo-cel-039': 29,
 'glo-cel-049': 37,
 'glo-cel-055': 106,
 'glo-cel-048': 7,
 'glo-cel-025': 7,
 'glo-cel-045': 65,
 'glo-cel-067': 94,
 'glo-cel-064': 15}

In [39]:
traj # sanity check

,txn_uid,sub_uid,cel_uid,transaction_dt,transaction_hr,coords
0,glo-txn-06898,glo-sub-046,glo-cel-025,2023-06-01,5,POINT (121.0476753 14.4772396)
3,glo-txn-06899,glo-sub-046,glo-cel-029,2023-06-01,6,POINT (121.0485949 14.4716356)
8,glo-txn-06900,glo-sub-046,glo-cel-024,2023-06-01,7,POINT (121.0476021 14.4654285)
11,glo-txn-06901,glo-sub-046,glo-cel-042,2023-06-01,10,POINT (121.0548302 14.4679851)
13,glo-txn-06902,glo-sub-046,glo-cel-047,2023-06-01,13,POINT (121.0561115 14.4711265)
12,glo-txn-06903,glo-sub-046,glo-cel-042,2023-06-01,14,POINT (121.0548302 14.4679851)
9,glo-txn-06904,glo-sub-046,glo-cel-024,2023-06-01,16,POINT (121.0476021 14.4654285)
4,glo-txn-06905,glo-sub-046,glo-cel-029,2023-06-01,17,POINT (121.0485949 14.4716356)
1,glo-txn-06906,glo-sub-046,glo-cel-025,2023-06-01,18,POINT (121.0476753 14.4772396)
5,glo-txn-06907,glo-sub-046,glo-cel-029,2023-06-01,22,POINT (121.0485949 14.4716356)
6,glo-txn-06908,glo-sub-046,glo-cel-029,2023-06-02,5,POINT (121.0485949 14.4716356)
10,glo-txn-06909,glo-sub-046,glo-cel-024,2023-06-02,6,POINT (121.0476021 14.4654285)
7,glo-txn-06910,glo-sub-046,glo-cel-029,2023-06-02,7,POINT (121.0485949 14.4716356)
2,glo-txn-06911,glo-sub-046,glo-cel-025,2023-06-02,17,POINT (121.0476753 14.4772396)
14,glo-txn-06912,glo-sub-046,glo-cel-038,2023-06-02,19,POINT (121.0527667 14.4780747)
15,glo-txn-06913,glo-sub-046,glo-cel-038,2023-06-03,5,POINT (121.0527667 14.4780747)
16,glo-txn-06914,glo-sub-046,glo-cel-052,2023-06-03,6,POINT (121.0577886 14.4791915)
18,glo-txn-06915,glo-sub-046,glo-cel-050,2023-06-03,7,POINT (121.0568768 14.4764315)
17,glo-txn-06916,glo-sub-046,glo-cel-052,2023-06-03,14,POINT (121.0577886 14.4791915)
19,glo-txn-06917,glo-sub-046,glo-cel-048,2023-06-03,22,POINT (121.0565103 14.4833339)
21,glo-txn-06918,glo-sub-046,glo-cel-063,2023-06-03,23,POINT (121.0613845 14.4863308)
22,glo-txn-06919,glo-sub-046,glo-cel-063,2023-06-04,5,POINT (121.0613845 14.4863308)
20,glo-txn-06920,glo-sub-046,glo-cel-048,2023-06-04,11,POINT (121.0565103 14.4833339)
25,glo-txn-06921,glo-sub-046,glo-cel-062,2023-06-04,17,POINT (121.0611261 14.4830593)
23,glo-txn-06922,glo-sub-046,glo-cel-063,2023-06-04,18,POINT (121.0613845 14.4863308)
24,glo-txn-06923,glo-sub-046,glo-cel-063,2023-06-05,5,POINT (121.0613845 14.4863308)
26,glo-txn-06924,glo-sub-046,glo-cel-054,2023-06-05,8,POINT (121.058742 14.4917043)
45,glo-txn-06925,glo-sub-046,glo-cel-055,2023-06-05,9,POINT (121.0590322 14.4964165)
68,glo-txn-06926,glo-sub-046,glo-cel-067,2023-06-05,13,POINT (121.0625681 14.4941416)
88,glo-txn-06927,glo-sub-046,glo-cel-045,2023-06-05,14,POINT (121.0560552 14.4949815)
46,glo-txn-06928,glo-sub-046,glo-cel-055,2023-06-05,22,POINT (121.0590322 14.4964165)
47,glo-txn-06929,glo-sub-046,glo-cel-055,2023-06-06,5,POINT (121.0590322 14.4964165)
69,glo-txn-06930,glo-sub-046,glo-cel-067,2023-06-06,7,POINT (121.0625681 14.4941416)
48,glo-txn-06931,glo-sub-046,glo-cel-055,2023-06-06,8,POINT (121.0590322 14.4964165)
27,glo-txn-06932,glo-sub-046,glo-cel-054,2023-06-06,17,POINT (121.058742 14.4917043)
49,glo-txn-06933,glo-sub-046,glo-cel-055,2023-06-06,22,POINT (121.0590322 14.4964165)
70,glo-txn-06934,glo-sub-046,glo-cel-067,2023-06-06,23,POINT (121.0625681 14.4941416)
71,glo-txn-06935,glo-sub-046,glo-cel-067,2023-06-07,5,POINT (121.0625681 14.4941416)
50,glo-txn-06936,glo-sub-046,glo-cel-055,2023-06-07,8,POINT (121.0590322 14.4964165)
89,glo-txn-06937,glo-sub-046,glo-cel-045,2023-06-07,11,POINT (121.0560552 14.4949815)
28,glo-txn-06938,glo-sub-046,glo-cel-054,2023-06-07,13,POINT (121.058742 14.4917043)
51,glo-txn-06939,glo-sub-046,glo-cel-055,2023-06-07,14,POINT (121.0590322 14.4964165)
29,glo-txn-06940,glo-sub-046,glo-cel-054,2023-06-07,18,POINT (121.058742 14.4917043)
72,glo-txn-06941,glo-sub-046,glo-cel-067,2023-06-07,22,POINT (121.0625681 14.4941416)
73,glo-txn-06942,glo-sub-046,glo-cel-067,2023-06-08,5,POINT (121.0625681 14.4941416)
30,glo-txn-06943,glo-sub-046,glo-cel-054,2023-06-08,11,POINT (121.058742 14.4917043)
74,glo-txn-06944,glo-sub-046,glo-cel-067,2023-06-08,16,POINT (121.0625681 14.4941416)
52,glo-txn-06945,glo-sub-046,glo-cel-055,2023-06-08,23,POINT (121.0590322 14.4964165)
53,glo-txn-06946,glo-sub-046,glo-cel-055,2023-06-09,5,POINT (121.0590322 14.4964165)
75,glo-txn-06947,glo-sub-046,glo-cel-067,2023-06-09,7,POINT (121.0625681 14.4941416)
54,glo-txn-06948,glo-sub-046,glo-cel-055,2023-06-09,17,POINT (121.0590322 14.4964165)
90,glo-txn-06949,glo-sub-046,glo-cel-045,2023-06-09,22,POINT (121.0560552 14.4949815)
31,glo-txn-06950,glo-sub-046,glo-cel-054,2023-06-09,23,POINT (121.058742 14.4917043)
32,glo-txn-06951,glo-sub-046,glo-cel-054,2023-06-10,5,POINT (121.058742 14.4917043)
91,glo-txn-06952,glo-sub-046,glo-cel-045,2023-06-10,7,POINT (121.0560552 14.4949815)
55,glo-txn-06953,glo-sub-046,glo-cel-055,2023-06-10,10,POINT (121.0590322 14.4964165)
33,glo-txn-06954,glo-sub-046,glo-cel-054,2023-06-10,14,POINT (121.058742 14.4917043)
34,glo-txn-06955,glo-sub-046,glo-cel-054,2023-06-11,5,POINT (121.058742 14.4917043)
56,glo-txn-06956,glo-sub-046,glo-cel-055,2023-06-11,9,POINT (121.0590322 14.4964165)
92,glo-txn-06957,glo-sub-046,glo-cel-045,2023-06-11,11,POINT (121.0560552 14.4949815)
35,glo-txn-06958,glo-sub-046,glo-cel-054,2023-06-11,19,POINT (121.058742 14.4917043)
76,glo-txn-06959,glo-sub-046,glo-cel-067,2023-06-11,20,POINT (121.0625681 14.4941416)
77,glo-txn-06960,glo-sub-046,glo-cel-067,2023-06-12,5,POINT (121.0625681 14.4941416)
36,glo-txn-06961,glo-sub-046,glo-cel-054,2023-06-12,6,POINT (121.058742 14.4917043)
78,glo-txn-06962,glo-sub-046,glo-cel-067,2023-06-12,7,POINT (121.0625681 14.4941416)
93,glo-txn-06963,glo-sub-046,glo-cel-045,2023-06-12,8,POINT (121.0560552 14.4949815)
57,glo-txn-06964,glo-sub-046,glo-cel-055,2023-06-12,11,POINT (121.0590322 14.4964165)
37,glo-txn-06965,glo-sub-046,glo-cel-054,2023-06-12,15,POINT (121.058742 14.4917043)
79,glo-txn-06966,glo-sub-046,glo-cel-067,2023-06-12,16,POINT (121.0625681 14.4941416)
94,glo-txn-06967,glo-sub-046,glo-cel-045,2023-06-12,18,POINT (121.0560552 14.4949815)
95,glo-txn-06968,glo-sub-046,glo-cel-045,2023-06-13,5,POINT (121.0560552 14.4949815)
38,glo-txn-06969,glo-sub-046,glo-cel-054,2023-06-13,10,POINT (121.058742 14.4917043)
80,glo-txn-06970,glo-sub-046,glo-cel-067,2023-06-13,23,POINT (121.0625681 14.4941416)
81,glo-txn-06971,glo-sub-046,glo-cel-067,2023-06-14,5,POINT (121.0625681 14.4941416)
39,glo-txn-06972,glo-sub-046,glo-cel-054,2023-06-14,8,POINT (121.058742 14.4917043)
58,glo-txn-06973,glo-sub-046,glo-cel-055,2023-06-14,15,POINT (121.0590322 14.4964165)
59,glo-txn-06974,glo-sub-046,glo-cel-055,2023-06-15,5,POINT (121.0590322 14.4964165)
40,glo-txn-06975,glo-sub-046,glo-cel-054,2023-06-15,9,POINT (121.058742 14.4917043)
96,glo-txn-06976,glo-sub-046,glo-cel-045,2023-06-15,10,POINT (121.0560552 14.4949815)
60,glo-txn-06977,glo-sub-046,glo-cel-055,2023-06-15,14,POINT (121.0590322 14.4964165)
82,glo-txn-06978,glo-sub-046,glo-cel-067,2023-06-15,17,POINT (121.0625681 14.4941416)
97,glo-txn-06979,glo-sub-046,glo-cel-045,2023-06-15,18,POINT (121.0560552 14.4949815)
61,glo-txn-06980,glo-sub-046,glo-cel-055,2023-06-15,19,POINT (121.0590322 14.4964165)
41,glo-txn-06981,glo-sub-046,glo-cel-054,2023-06-15,20,POINT (121.058742 14.4917043)
42,glo-txn-06982,glo-sub-046,glo-cel-054,2023-06-16,5,POINT (121.058742 14.4917043)
62,glo-txn-06983,glo-sub-046,glo-cel-055,2023-06-16,11,POINT (121.0590322 14.4964165)
43,glo-txn-06984,glo-sub-046,glo-cel-054,2023-06-16,19,POINT (121.058742 14.4917043)
63,glo-txn-06985,glo-sub-046,glo-cel-055,2023-06-16,21,POINT (121.0590322 14.4964165)
83,glo-txn-06986,glo-sub-046,glo-cel-067,2023-06-16,22,POINT (121.0625681 14.4941416)
98,glo-txn-06987,glo-sub-046,glo-cel-045,2023-06-16,23,POINT (121.0560552 14.4949815)
99,glo-txn-06988,glo-sub-046,glo-cel-045,2023-06-17,5,POINT (121.0560552 14.4949815)
44,glo-txn-06989,glo-sub-046,glo-cel-054,2023-06-17,6,POINT (121.058742 14.4917043)
84,glo-txn-06990,glo-sub-046,glo-cel-067,2023-06-17,7,POINT (121.0625681 14.4941416)
64,glo-txn-06991,glo-sub-046,glo-cel-055,2023-06-17,9,POINT (121.0590322 14.4964165)
85,glo-txn-06992,glo-sub-046,glo-cel-067,2023-06-17,11,POINT (121.0625681 14.4941416)
65,glo-txn-06993,glo-sub-046,glo-cel-055,2023-06-17,19,POINT (121.0590322 14.4964165)
86,glo-txn-06994,glo-sub-046,glo-cel-067,2023-06-17,20,POINT (121.0625681 14.4941416)
87,glo-txn-06995,glo-sub-046,glo-cel-067,2023-06-18,5,POINT (121.0625681 14.4941416)
66,glo-txn-06996,glo-sub-046,glo-cel-055,2023-06-18,15,POINT (121.0590322 14.4964165)
67,glo-txn-06997,glo-sub-046,glo-cel-055,2023-06-19,5,POINT (121.0590322 14.4964165)
100,glo-txn-06998,glo-sub-046,glo-cel-045,2023-06-19,10,POINT (121.0560552 14.4949815)
101,glo-txn-06999,glo-sub-046,glo-cel-041,2023-06-19,22,POINT (121.0547366 14.5005359)
102,glo-txn-07000,glo-sub-046,glo-cel-044,2023-06-19,23,POINT (121.0550896 14.5056935)
103,glo-txn-07001,glo-sub-046,glo-cel-044,2023-06-20,5,POINT (121.0550896 14.5056935)
104,glo-txn-07002,glo-sub-046,glo-cel-046,2023-06-20,6,POINT (121.0560984 14.5100246)
108,glo-txn-07003,glo-sub-046,glo-cel-039,2023-06-20,9,POINT (121.0536333 14.5133711)
114,glo-txn-07004,glo-sub-046,glo-cel-040,2023-06-20,10,POINT (121.054184 14.5167555)
109,glo-txn-07005,glo-sub-046,glo-cel-039,2023-06-20,17,POINT (121.0536333 14.5133711)
110,glo-txn-07006,glo-sub-046,glo-cel-039,2023-06-21,5,POINT (121.0536333 14.5133711)
122,glo-txn-07007,glo-sub-046,glo-cel-051,2023-06-21,6,POINT (121.0572633 14.5141269)
126,glo-txn-07008,glo-sub-046,glo-cel-056,2023-06-21,17,POINT (121.0591257 14.5116111)
130,glo-txn-07009,glo-sub-046,glo-cel-064,2023-06-21,18,POINT (121.0618839 14.512313)
131,glo-txn-07010,glo-sub-046,glo-cel-064,2023-06-22,5,POINT (121.0618839 14.512313)
127,glo-txn-07011,glo-sub-046,glo-cel-056,2023-06-22,6,POINT (121.0591257 14.5116111)
105,glo-txn-07012,glo-sub-046,glo-cel-046,2023-06-22,10,POINT (121.0560984 14.5100246)
133,glo-txn-07013,glo-sub-046,glo-cel-035,2023-06-22,19,POINT (121.0520115 14.5087523)
106,glo-txn-07014,glo-sub-046,glo-cel-046,2023-06-22,23,POINT (121.0560984 14.5100246)
107,glo-txn-07015,glo-sub-046,glo-cel-046,2023-06-23,5,POINT (121.0560984 14.5100246)
111,glo-txn-07016,glo-sub-046,glo-cel-039,2023-06-23,10,POINT (121.0536333 14.5133711)
115,glo-txn-07017,glo-sub-046,glo-cel-040,2023-06-23,22,POINT (121.054184 14.5167555)
116,glo-txn-07018,glo-sub-046,glo-cel-040,2023-06-24,5,POINT (121.054184 14.5167555)
134,glo-txn-07019,glo-sub-046,glo-cel-036,2023-06-24,7,POINT (121.052231 14.519476)
117,glo-txn-07020,glo-sub-046,glo-cel-040,2023-06-24,8,POINT (121.054184 14.5167555)
135,glo-txn-07021,glo-sub-046,glo-cel-036,2023-06-24,14,POINT (121.052231 14.519476)
139,glo-txn-07022,glo-sub-046,glo-cel-043,2023-06-24,22,POINT (121.0548721 14.5216456)
140,glo-txn-07023,glo-sub-046,glo-cel-043,2023-06-25,5,POINT (121.0548721 14.5216456)
136,glo-txn-07024,glo-sub-046,glo-cel-036,2023-06-25,6,POINT (121.052231 14.519476)
118,glo-txn-07025,glo-sub-046,glo-cel-040,2023-06-25,10,POINT (121.054184 14.5167555)
142,glo-txn-07026,glo-sub-046,glo-cel-049,2023-06-25,16,POINT (121.0568161 14.5177119)
143,glo-txn-07027,glo-sub-046,glo-cel-049,2023-06-26,5,POINT (121.0568161 14.5177119)
147,glo-txn-07028,glo-sub-046,glo-cel-057,2023-06-26,11,POINT (121.059168 14.5199865)
151,glo-txn-07029,glo-sub-046,glo-cel-061,2023-06-26,14,POINT (121.0609937 14.515681)
132,glo-txn-07030,glo-sub-046,glo-cel-064,2023-06-26,18,POINT (121.0618839 14.512313)
128,glo-txn-07031,glo-sub-046,glo-cel-056,2023-06-26,21,POINT (121.0591257 14.5116111)
129,glo-txn-07032,glo-sub-046,glo-cel-056,2023-06-27,5,POINT (121.0591257 14.5116111)
123,glo-txn-07033,glo-sub-046,glo-cel-051,2023-06-27,7,POINT (121.0572633 14.5141269)
144,glo-txn-07034,glo-sub-046,glo-cel-049,2023-06-27,11,POINT (121.0568161 14.5177119)
148,glo-txn-07035,glo-sub-046,glo-cel-057,2023-06-27,19,POINT (121.059168 14.5199865)
141,glo-txn-07036,glo-sub-046,glo-cel-043,2023-06-27,20,POINT (121.0548721 14.5216456)
149,glo-txn-07037,glo-sub-046,glo-cel-057,2023-06-27,23,POINT (121.059168 14.5199865)
150,glo-txn-07038,glo-sub-046,glo-cel-057,2023-06-28,5,POINT (121.059168 14.5199865)
145,glo-txn-07039,glo-sub-046,glo-cel-049,2023-06-28,8,POINT (121.0568161 14.5177119)
124,glo-txn-07040,glo-sub-046,glo-cel-051,2023-06-28,15,POINT (121.0572633 14.5141269)
146,glo-txn-07041,glo-sub-046,glo-cel-049,2023-06-28,16,POINT (121.0568161 14.5177119)
119,glo-txn-07042,glo-sub-046,glo-cel-040,2023-06-28,19,POINT (121.054184 14.5167555)
120,glo-txn-07043,glo-sub-046,glo-cel-040,2023-06-29,5,POINT (121.054184 14.5167555)
137,glo-txn-07044,glo-sub-046,glo-cel-036,2023-06-29,8,POINT (121.052231 14.519476)
138,glo-txn-07045,glo-sub-046,glo-cel-036,2023-06-30,5,POINT (121.052231 14.519476)
121,glo-txn-07046,glo-sub-046,glo-cel-040,2023-06-30,12,POINT (121.054184 14.5167555)
112,glo-txn-07047,glo-sub-046,glo-cel-039,2023-06-30,17,POINT (121.0536333 14.5133711)
125,glo-txn-07048,glo-sub-046,glo-cel-051,2023-06-30,20,POINT (121.0572633 14.5141269)
113,glo-txn-07049,glo-sub-046,glo-cel-039,2023-06-30,23,POINT (121.0536333 14.5133711)

In [40]:
proba_per_site = [hr_spent/sum(loc_hr_counter.values()) for hr_spent in loc_hr_counter.values()]

In [41]:
np.sum(proba_per_site)

1.0

In [42]:
activity_entropy = reduce(lambda a, b: a + b, map(lambda p: p*np.log10(1/p), proba_per_site))
print(activity_entropy)

# TODO: add logbase2
# try float dtype

1.2287708523253977

In [43]:
def calc_activity_entropy(traj):
    
    try:
    
        loc_hrs = traj[["cel_uid", "transaction_hr"]].values.tolist()
        od_loc_hrs = list(zip(loc_hrs, loc_hrs[1:]))    
        cels = list(set(traj.cel_uid.tolist()))

        loc_hr_counter = dict(zip(cels, [0]*len(cels)))
        for od_loc_hr in od_loc_hrs:
            orig = od_loc_hr[0]
            dest = od_loc_hr[1]
            cel = orig[0]
            if dest[1] > orig[1]:
                time_elapsed = dest[1] - orig[1]
            elif dest[1] < orig[1]:
                # next time elapsed jumps to another day
                time_elapsed = 24 - abs(dest[1] - orig[1])
            loc_hr_counter[cel] = loc_hr_counter[cel] + time_elapsed

        # time spent on a single site vs time spent on all sites
        proba_per_site = [hr_spent/sum(loc_hr_counter.values()) for hr_spent in loc_hr_counter.values()]

        # sum(p * log(1/p)) where p is the proba for a single site
        activity_entropy = reduce(lambda a, b: a + b, map(lambda p: p*np.log10(1/p), proba_per_site))
    
        return activity_entropy
    
    except:
        
        return None

In [44]:
activity_entropys = []
for sub in scoring_base.sub_uid.tolist():
    traj = get_sub_traj(sub, date, window, fake_transactions, fake_cellsites)
    activity_entropy = calc_activity_entropy(traj)
    activity_entropys.append(activity_entropy)

scoring_base["activity_entropy"] = activity_entropys

In [45]:
scoring_base.sample(5)

,sub_uid,gender,age,name,chi_indicator,ewallet_user_indicator,total_travel_distance,radius_of_gyration,activity_entropy
4,glo-sub-005,male,41,Stephen Barrett,False,Y,59372.713510,1123.953469,1.404239
51,glo-sub-052,female,60,Victoria Davis,True,N,63698.991406,1255.827815,1.274839
73,glo-sub-074,male,59,Austin Shelton,False,Y,54565.860869,437.301958,0.763808
5,glo-sub-006,male,30,Ronald Lester,False,N,49404.280524,750.467398,1.204405
12,glo-sub-013,female,70,Sharon Hogan,False,Y,62534.631257,583.661584,0.884228

In [46]:
scoring_base.total_travel_distance.describe().iloc[1:]

mean    55157.115296
std      7521.101911
min     39499.305833
25%     49938.614556
50%     54628.834575
75%     59577.137135
max     72655.926457
Name: total_travel_distance, dtype: float64

In [47]:
scoring_base.radius_of_gyration.describe().iloc[1:]

mean    1184.597493
std      373.011130
min      437.301958
25%      971.721602
50%     1150.023233
75%     1354.398274
max     2959.760407
Name: radius_of_gyration, dtype: float64

In [48]:
scoring_base.activity_entropy.describe().iloc[1:]

mean    1.255673
std     0.163772
min     0.763808
25%     1.148662
50%     1.283184
75%     1.379630
max     1.526844
Name: activity_entropy, dtype: float64

In [49]:
sub = fake_subscribers.sample(1).sub_uid.item()
traj = get_sub_traj(sub, date, window, fake_transactions, fake_cellsites)

In [50]:
traj.head()

,txn_uid,sub_uid,cel_uid,transaction_dt,transaction_hr,coords
0,glo-txn-00001,glo-sub-001,glo-cel-082,2023-06-01,3,POINT (121.0732848 14.5244576)
5,glo-txn-00002,glo-sub-001,glo-cel-086,2023-06-01,15,POINT (121.0750697 14.521689)
11,glo-txn-00003,glo-sub-001,glo-cel-084,2023-06-01,20,POINT (121.0735688 14.5181671)
6,glo-txn-00004,glo-sub-001,glo-cel-086,2023-06-01,21,POINT (121.0750697 14.521689)
12,glo-txn-00005,glo-sub-001,glo-cel-084,2023-06-01,23,POINT (121.0735688 14.5181671)

In [51]:
calc_activity_entropy(traj)

1.3153954278432864

In [52]:
calc_radius_of_gyration(traj)

1219.4454644797752

In [53]:
calc_total_travel_distance(traj)

55610.046496628296

In [54]:
def get_route_fig(r):
    fig, ax = plt.subplots(1, 1)
    gpd.GeoSeries(r).plot(ax=ax, linewidth=5, zorder=1)
    orig = shapely.geometry.Point([r.xy[0][0], r.xy[1][0]])
    dest = shapely.geometry.Point([r.xy[0][-1], r.xy[1][-1]])
    gpd.GeoSeries(orig).plot(ax=ax, color="red", markersize=250, zorder=2, alpha=0.8)
    gpd.GeoSeries(dest).plot(ax=ax, color="green", markersize=250, zorder=2, alpha=0.8)
    plt.axis("off")
    ax.ticklabel_format(useOffset=False)
    plt.close()
    return fig

import os
import shapely
import geopandas as gpd
import matplotlib.pyplot as plt
from PIL import Image
import shutil

In [56]:
d

             txn_uid      sub_uid      cel_uid transaction_dt  transaction_hr
0      glo-txn-00001  glo-sub-001  glo-cel-082     2023-06-01               3
1      glo-txn-00002  glo-sub-001  glo-cel-086     2023-06-01              15
2      glo-txn-00003  glo-sub-001  glo-cel-084     2023-06-01              20
3      glo-txn-00004  glo-sub-001  glo-cel-086     2023-06-01              21
4      glo-txn-00005  glo-sub-001  glo-cel-084     2023-06-01              23
...              ...          ...          ...            ...             ...
15085  glo-txn-15086  glo-sub-100  glo-cel-040     2023-06-29              12
15086  glo-txn-15087  glo-sub-100  glo-cel-040     2023-06-30               0
15087  glo-txn-15088  glo-sub-100  glo-cel-049     2023-06-30               3
15088  glo-txn-15089  glo-sub-100  glo-cel-057     2023-06-30              12
15089  glo-txn-15090  glo-sub-100  glo-cel-049     2023-06-30              18

[15090 rows x 5 columns]

In [61]:
# day in a life of a sub
d = fake_transactions.copy()
sample_sub = d.sample(1).sub_uid.item()
d = d.loc[d.sub_uid==sample_sub]
days = d.transaction_dt.unique().tolist()
route_figs = []

In [66]:
for sample_day in days:
    sites = fake_transactions\
        .loc[fake_transactions.sub_uid==sample_sub]\
        .loc[fake_transactions.transaction_dt==sample_day]\
        .cel_uid.tolist()
    points = list(map(lambda z: convert_cel_to_point(z, fake_cellsites), sites))
    r = shapely.geometry.LineString(points)
    route_figs.append(get_route_fig(r))

AttributeError: 'DataFrame' object has no attribute 'uid'

In [ ]:
os.mkdir("../sample/")

for idx, fig in enumerate(route_figs):
    fname = "../sample/{}_tmp.jpg".format(idx+1)
    fig.savefig(fname)
    
imgs = load_images("../sample")
plot_images(imgs)
shutil.rmtree("../sample")